/*-----------------
 Google Fonts 
 ------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*----------------------------------
 Common Styles and other Utilites
 -----------------------------------*/

body {
   font-family: "Poppins", sans-serif;
   margin: 0;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*----------------------------------
 Top Banner Section Style
 -----------------------------------*/

.top-banner-section {
   display: flex;
   background-color: #2d25a0;
   margin-bottom: 70px;
}

.top-banner-left {
   padding-top: 207px;
   padding-left: 125px;
   padding-bottom: 240px;
   margin-left: 80px;
}

.header-title {
   color: #ffffff;
   font-size: 64px;
}
.button-link {
   display: inline-block;
   padding: 10px 24px;
   background-color: #e02c6d;
   transition: transform 0.4s ease;
}

.button-link:hover {
   transform: scale(1.1);
}

.top-banner-left a {
   text-decoration: none;
   color: #ffffff;
}

.top-banner-right img {
   transition: transform 0.4s ease-in-out;
   width: 556.01px;
   margin-top: 153px;
   margin-bottom: 86px;
   margin-right: 80px;
}

.top-banner-right:hover img {
   transform: scale(1.2);
}

/*----------------------------------
 Football Players detail Style
 -----------------------------------*/

.player-details {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
}

.player-info {
   background-color: #ffffff;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   width: 330px;
   padding: 10px;
   margin-bottom: 27px;
}

.player-info img {
   width: 100%;
}

/*-------------------
 Latest News Style
 -------------------*/
.all-latest-news {
   padding-right: 5%;
   padding-left: 5%;
   padding-top: 2%;
   padding-bottom: 5%;
}

.news {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 50px;
}

.news-info a {
   display: inline-block;
   text-decoration: none;
   color: #562eff;
}
.news-info a img {
   transition: transform 0.4s ease-in-out;
   width: 100%;
}

.news-info:hover a img {
   transform: scale(1.1);
}
