/*-----------------
 Google Fonts 
 ------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*----------------------------------
 Common Styles and other Utilites
 -----------------------------------*/

body {
   font-family: "Poppins", sans-serif;
   margin: 0;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

hr {
   border: 1px solid #d1d1d1;
   clear: both;
   display: block;
   width: 96%;
}

/*----------------------------------
Navigation Bar Items
 -----------------------------------*/
.nav-items {
   overflow: hidden;
   overflow-x: hidden;
   display: flex;
   justify-content: space-between;
   background-color: #2d25a0;
}

.items {
   margin-top: 52px;
   margin-left: 80px;
}

.items a {
   text-decoration: none;
   color: #ffffff;
   font-size: 16px;
   padding: 36px;
}

.login-button a {
   color: #ffffff;
   text-decoration: none;
   margin-top: 42px;
   margin-right: 123px;
}

.fa-sign-in-alt {
   padding-right: 8px;
}

/*----------------------------------
 Top Banner Section Style
 -----------------------------------*/

.top-banner-section {
   overflow-x: hidden;
   display: flex;
   background-color: #2d25a0;
   margin-bottom: 70px;
}

.top-banner-left {
   padding-top: 207px;
   padding-left: 50px;
   padding-bottom: 240px;
   margin-left: 66px;
}

.header-title {
   color: #ffffff;
   font-size: 4.5em;
}
.button-link {
   display: inline-block;
   padding: 10px 24px;
   background-color: #e02c6d;
   transition: transform 0.4s ease;
}

.button-link:hover {
   transform: scale(1.1);
}

.top-banner-left a {
   text-decoration: none;
   color: #ffffff;
}
.fa-arrow-right {
   padding-left: 8px;
}
.top-banner-right img {
   transition: transform 0.4s ease-in-out;
   width: 80%;
   margin-top: 153px;
   margin-bottom: 86px;
   margin-right: 86px;
   margin-left: 70px;
}

.top-banner-right:hover img {
   transform: scale(1.2);
}

/*----------------------------------
 Football Players detail Style
 -----------------------------------*/

.player-details {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
}

.player-info {
   background-color: #ffffff;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   width: 330px;
   padding: 10px;
   margin-bottom: 27px;
}

.player-info img {
   width: 100%;
}

/*-------------------
 Latest News Style
 -------------------*/

.all-latest-news {
   background-color: rgba(250, 235, 215, 0.13);
   padding-right: 5%;
   padding-left: 5%;
   padding-top: 2%;
   padding-bottom: 5%;
   margin-top: 5%;
}

.news-header-title {
   font-size: 2.3em;
}
.news {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 50px;
}

.news-info a {
   display: inline-block;
   text-decoration: none;
   color: #562eff;
}
.news-info a img {
   transition: transform 0.4s ease-in-out;
   width: 80%;
}

.news-info:hover a img {
   transform: scale(1.1);
}

/*-------------------
 Latest Videos 
 -------------------*/

.video-header-title {
   padding-left: 5%;
   font-size: 2.3rem;
}

.first-video {
   overflow: hidden;
   overflow-x: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2%;
}

.videos {
   display: grid;
   display: flex;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 5%;
   justify-content: center;
   align-items: center;
   margin-bottom: 6%;
}

/*-------------------
 Footer Section Style
 -------------------*/
footer {
   text-align: center;
}
.social-link {
   margin: 20px 20px;
}
.social-link a {
   padding-left: 20px;
}
footer img {
   width: 300px;
}

/*-------------------
 Media Queries for responsive website
 -------------------*/

@media only screen and (max-width: 688px) {
   .body {
      overflow-x: hidden;
   }
   .top-banner-section {
      flex-direction: column;
      width: 100%;
   }
   .header-title {
      font-size: 25px;
   }
   .top-banner-right img {
      text-align: center;
      width: 75%;
      padding-right: 450px;
      padding-bottom: 650px;
   }

   .player-details,
   .news {
      grid-template-columns: repeat(1, 1fr);
   }
   .video-responsive {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
   }
   .responsive-iframe {
      position: absolute;
      width: 100%;
      height: 100%;
   }

   .videos {
      flex-direction: column;
      flex-wrap: wrap;
   }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
   .top-banner-section {
      flex-direction: column;
   }
   .player-details,
   .news {
      grid-template-columns: repeat(2, 1fr);
   }

   .videos {
      flex-direction: column;
      flex-wrap: wrap;
   }
}
